* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #010101;
    color: ghostwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header { 
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem; 
    position: relative; 
    text-align: center;
}

h1 { 
    letter-spacing: 1px; 
}

h2 { 
    color:  #565f6b /* gold */;
    margin-top: 1.75rem;
    margin-bottom: 15px; 
}

p { 
    font-size: 1rem; 
    font-weight: normal;
    margin: auto;
    width: 80%;
    /* background: coral; */
    height: 75%;
}

.tabs { 
    position: absolute; 
    bottom: 0; 
    display: flex; 
    width: 100%; 
    height: 65px; 
    background-color: #16191d;
    border-bottom: 1px dotted ghostwhite;
    /* box-shadow: 0 0 12px rgba(111, 111, 111, 0.3); */
}

.sticky { 
    position: fixed; 
    top: 0; 
}

.tabs a { 
    text-decoration: none;
    color: #e8e8e8; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex: 1;
    letter-spacing: 1px; 
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}


.tabs a:hover { 
    background-color: #565f6b;
    text-decoration: underline; 
}

section { 
    height: 90vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

